//Mapa colores
$colores: (
negro: #0000,
negroclaro: #222722 ,
rojo: #cf3b37 ,
grisoscuro: #8c9b97 ,
grisclaro: #edefed ,
verde: #539676 ,
marrón: #a97f65 ,
rojoclaro: #d69690 ,
grismedio: #bac5c2 ,
blanco: #ffff,
);

/*Variables*/
$h1-titulos: bold 3.5rem 'Montserrat';
$h1-titulosquery: bold 3rem 'Montserrat';
$h1-spacing-bottom: 20px;
$h1-color: map-get($map: $colores, $key:grisclaro );
$h2-titulos: 2.5rem ;
$h2-color: map-get($map: $colores, $key: negro);
$h1-shadow: map-get($map: $colores, $key: grisoscuro) 2px 2px;
$h2-shadow: map-get($map: $colores, $key: verde) 2px 2px;
$parrafos: 1.25rem;
$parrafoschicos: 1rem;
$bordercolor: map-get($map: $colores, $key:rojo );
$h3-titulos: bold 1.75rem 'Montserrat';
$h3-color: map-get($map: $colores, $key: blanco );
$h3-shadow: map-get($map: $colores, $key: rojo) 2px 2px;

.titulopaginacontacto{
    font: $h1-titulos;
    color: $h1-color;
    text-shadow: $h1-shadow;
    text-align: center;
    margin-bottom: $h1-spacing-bottom;
    margin-top: 20px;
}

.contactocontainer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    .form{
        width: 90%;
        border: 5px solid $bordercolor;
        border-radius: 20px;
        padding: 2.5%;
        .formlabel{
            margin-bottom: 10px;
            $parrafos: 1.25rem;
            color: map-get($map: $colores, $key: blanco);
        }
        .botoncontacto{
            margin-top: 40px;
            padding: 10px;
            width: 200px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: map-get($map: $colores, $key: rojo);
            color:  map-get($map: $colores, $key: blanco);
            border: 2px solid map-get($map: $colores, $key: negro);
            border-radius: 20px;
                &:hover{
                    background-color: map-get($map: $colores, $key: blanco);
                    color:  map-get($map: $colores, $key: rojo);
                    border: 2px solid map-get($map: $colores, $key: grismedio);
                    font-weight: 700;
                }
        }
    }
}

@media screen and (max-width:600px){
    .titulopaginacontacto{
        font: $h1-titulosquery;
    }
}