//Mapa colores
$colores: (
negro: #222722 ,
rojo: #cf3b37 ,
grisoscuro: #8c9b97 ,
grisclaro: #edefed ,
verde: #539676 ,
marrón: #a97f65 ,
rojoclaro: #d69690 ,
grismedio: #bac5c2 ,
blanco: #ffff,
);

/*Variables*/
$h1-titulos: bold 3.5rem 'Montserrat';
$h1-titulosquery: bold 3rem 'Montserrat';
$h1-color: map-get($map: $colores, $key:grisclaro );
$h1-spacing-bottom: 20px;
$h2-titulos: 2.5rem ;
$h2-color: map-get($map: $colores, $key: negro);
$h1-shadow: map-get($map: $colores, $key: grisoscuro) 2px 2px;
$h2-shadow: map-get($map: $colores, $key: verde) 2px 2px;
$parrafos: 1.25rem;
$parrafoschicos: 1rem;
$bordercolor: map-get($map: $colores, $key:rojo );
$h3-titulos: bold 1.75rem;
$h3-color: map-get($map: $colores, $key: blanco );
$h3-shadow: map-get($map: $colores, $key: rojo) 2px 2px;


.pilotoscontainer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    .titulopaginapilotos{
        font: $h1-titulos;
        color: $h1-color;
        text-shadow: $h1-shadow;
        text-align: center;
        margin-bottom: $h1-spacing-bottom;
    }
    .pilotos{
        border: 5px solid $bordercolor;
        border-radius: 20px;
        display: grid;
        width: 90%;
        height: 100%;
        grid-template-columns: 30% 70%;
        grid-template-rows: repeat(4,auto);
        align-items: center;
        justify-items: center;
        margin-bottom: 20px;
        .pilotosdatos{
            grid-column: 1/2;
            grid-row: 1/5;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-evenly;
            height: 100%;
        }
    }
}


.imgpilotos{
    border-radius: 10% 50% 10% 50%;
    max-width: 200px;
    
}


.pilotos__lugarnacimiento{
    grid-column: 2/3;
    grid-row: 1/2;
    border-left: 1px solid $bordercolor;
    border-bottom: 1px solid $bordercolor;
}

.pilotos__fechanacimiento{
    grid-column: 2/3;
    grid-row: 2/3;
    border-left: 1px solid $bordercolor;
    border-bottom: 1px solid $bordercolor;
}

.pilotos__categorias{
    grid-column: 2/3;
    grid-row: 3/4;
    border-left: 1px solid $bordercolor;
    border-bottom: 1px solid $bordercolor;
}

.pilotos__logros{
    grid-column: 2/3;
    grid-row: 4/5;
    border-left: 1px solid $bordercolor;
}

.pilotos__lugarnacimiento, .pilotos__fechanacimiento, .pilotos__categorias, .pilotos__logros{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    align-content: center;
    align-items: center;
    padding: 20px;
}

.pilotosinfo{
    font-size: $h3-titulos;
    color: $h3-color;
    text-shadow: $h3-shadow;
    margin: 0;  
    width: 30%;
}

.pilotosp{
    margin: 0%;
    width: 70%;
    text-align: center;
    font-size: $parrafoschicos;
    color: #ffff;
}

.ullogros{
    width: 70%;
    padding: 0%;
}

.logros{
    text-align: center;
    font-size: $parrafoschicos;
    color: #ffff;
    line-height: 2;
}

.pilotosnombre{
    font-size: $h2-titulos;
    color: #ffff;
    text-shadow: $h2-shadow;
    text-align: center;
    margin: 5%;
}

@media screen and (max-width:900px){

    .pilotos{
        grid-template-columns: 40% 60%;
    }


    .pilotos__lugarnacimiento, .pilotos__fechanacimiento, .pilotos__categorias, .pilotos__logros{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 0;
        align-content: center;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }

    .pilotosinfo{
        width: 100%;
        text-align: center;
    }
    .ullogros{
        width: 100%;
    }
}

@media screen and (max-width:700px){
    .imgpilotos{
        margin-top: 1rem;
        
    }
    .pilotos{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5,auto);
    }
    .pilotosdatos{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    
    .pilotos__lugarnacimiento{
        grid-column: 1/2;
        grid-row: 2/3;
        border-top: 1px solid $bordercolor;
    }
    
    .pilotos__fechanacimiento{
        grid-column: 1/2;
        grid-row: 3/4;
    }
    
    .pilotos__categorias{
        grid-column: 1/2;
        grid-row: 4/5;
    }
    
    .pilotos__logros{
        grid-column: 1/2;
        grid-row: 5/6  ;
    }
    .pilotosp{
        margin-top: 2%;
    }
}
@media screen and (max-width:600px){
    .titulopaginapilotos{
        font: $h1-titulosquery;
    }
}